<%layout("/layouts/boilerplate.ejs")%>

<div class="container ">
            

<div class="row justify-content-center">
  <form action="/listing/<%=list._id%>?_method=PUT" method="POST" class="col-md-6 needs-validation" novalidate enctype="multipart/form-data">
  <label for="listing[title]" class="form-label">Title</label>
  <input value="<%=list.title%>" name="listing[title]" type="text" class="form-control" required>
  <br>
  <label for="listing[description]" class="form-label">Description</label>
  <textarea name="listing[description]" class="form-control" required><%=list.description%></textarea>
  <br>
  <label for="listing[image][url]" class="form-label">Image</label>
  <input value="<%=list.image.url%>"  name="listing[image][url]" class="form-control" type="file" ></input>
  <br>
  <div class="row">
    <div class="col-md-8">
      <label for="listing[location]" class="form-label">Location</label>
  <input value="<%=list.location%>"  name="listing[location]" type="text" class="form-control" required>
  
    </div>
    <div class="col-md-4">
      <label for="listing[country]" class="form-label">Country</label>
  <input value="<%=list.country%>"  name="listing[country]" type="text" class="form-control" required>
  <br>
    </div>
  
  </div>
  
  <label for="listing[price]" class="form-label">Price</label>
  <input value="<%=list.price%>"  name="listing[price]" type="number" class="form-control required" >
  <br>
  <button class="btn btn-danger">Edit</button>
</form>
</div>
    
</div>
